@import '../../styles/settings.scss';

nav{
    height: 5vh;
    width: 100%;
    background-color:darken($color-dark,3%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon{
        margin-left: 60px;
        font-size: 24px;
    }
}


.navList{
    list-style: none;
    float: right;
    width: 20vw;
    display: flex;
    justify-content: center;
    li{
        display: inline-block;
        margin: 10px;
    }
    a{
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    .linkActive{
        color: $color-warning;
    }
}
